

:root{
  --border-radius: 5px;
  --color-primary: #efebeb;
  --color-secondary: #ff2e2e;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0 0 1.5rem 0;
        font-weight: 800;
        color: var(--color-primary);
    }

    form {
        display: flex;
        flex-flow: column;
        min-width: 400px;
        border-radius: var(--border-radius);
        gap: .85rem;

        input,
        button {
            height: 50px;
            padding: .85rem;
            font-size: 1.2rem;
            border-radius: var(--border-radius);
            border: none;
            outline: none;
        }

        button {
            background-color: var(--color-secondary);
            box-shadow: 2px 2px 2px #0000001a;
            color: #fff;
            cursor: pointer;
            transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:active{
                transform: scale(.98);
            }
        }
    }
    p{
        margin-top: 1rem;
        text-align: center;
        color: var(--color-primary);
        a{
            color: var(--color-secondary);
            text-decoration: none;
            font-weight: bold;
            opacity: .85;
        }   
    }
}