.button {
    font-size: var(--fs-lg);
    padding: var(--fs-sm) var(--fs-xs);
    border-radius: var(--radius-md);
    font-weight: var(--fw-medium);
    border: none;
    outline: none;
    background-color: var(  --color-primary);
    transition: all var(--transition-normal) ;
    cursor: pointer;
    
    &.btn-primary{
        background-color: var(--color-brand);
        color: var(--color-primary);
        box-shadow: 0px 5px 0px 0px var(--color-brand-hover);
    }
    &:hover{
        transform: translate(0% ,-2%);
        box-shadow: 0px 8px 0px 0px var(--color-brand-hover);
    }
    &:active{
        transform: translate(0% ,0%);
        box-shadow: 0px 5px 0px 0px var(--color-brand-hover);
    }
}